@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table>
    <tr>
        <th class="headerTable">Product_id</th>
        <th class="headerTable">Product_name</th>
        <th class="headerTable">PRICE_LIST_NAME</th>
        <th class="headerTable">Product_Price</th>
        <th class="headerTable">Product_Tax</th>
        <th class="headerTable">total</th>
    </tr>
    <tr>
        <th>2</th>
        <th>P02</th>
        <th>General</th>
        <th>13.50</th>
        <th>3.755</th>
        <th>17.255</th>
    </tr>
</table> 

